# scala specific
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ specific
.idea
*.iml

.ensime*
ensime-langserver.log

app.yaml

# built site files
src/main/webapp/asset-manifest.json
src/main/webapp/favicon.ico
src/main/webapp/index.html
src/main/webapp/manifest.json
src/main/webapp/service-worker.js
src/main/webapp/static/
